<?xml version="1.0"?>
<robot name="extra_box" xmlns:xacro="http://ros.org/wiki/xacro">

  <gazebo reference="extra_box_link">
    <static>true</static>
   <material>Gazebo/Red</material>  <!-- Locks the box in place -->
  </gazebo>
    <gazebo> <static>true</static></gazebo>

  <!-- Define an extra standalone box -->
  <link name="extra_box_link">
    <pose>0 0 0 0 0 0</pose>  <!-- Positioned separately & slightly lifted -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="2.5"/>
      <inertia ixx="0.005" ixy="0.0" ixz="0.0" iyy="0.005" iyz="0.0" izz="0.005"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </collision>
  </link>

</robot>
